<%- include('partials/header') %>


<div class="jumbotron centered container-fluid">
  <div class="container">
    <i class="fas fa-user-lock" style="font-size: 10rem;"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Share your secrets anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
